<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/layout.html :: head}"/>
<body>
    <header th:replace="~{layout/layout :: header}" />
    <section th:replace="~{layout/layout :: navigation}" />
    <section class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1>Visita nuestras dos sedes</h1>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="mb-2">
                        <h3>San Pedro</h3>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125760.28722695116!2d-84.17920585664062!3d9.933209900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3f47ea4ff37%3A0x7a7818a6a9e5c90c!2sUniversidad%20Fid%C3%A9litas!5e0!3m2!1ses-419!2scr!4v1721925402075!5m2!1ses-419!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <h3>Heredia</h3>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.305483453128!2d-84.14615392620367!3d9.991605190113356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0faf89f62fc53%3A0x920a942930d65331!2sUniversidad%20Fid%C3%A9litas%20Heredia!5e0!3m2!1ses-419!2scr!4v1721925455519!5m2!1ses-419!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{layout/layout :: footer}" />
</body>
</html>