<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/layout.html :: head}"/>
<body>
    <header th:replace="~{layout/layout :: header}" />
    <section th:replace="~{layout/layout :: navigation}" />
    <section id="inicio" class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1>¡Bienvenido a TiquiViajes!</h1>
                    <p>Tu mejor opción para viajar</p>
                    <form class="d-flex justify-content-center mt-3">
                        <input class="form-control me-2" type="search" placeholder="Ingresa tu destino" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{layout/layout :: footer}" />
</body>
</html>