<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/layout.html :: head}"/>
<body>

    <!-- tabla destinos -->
    <table th:fragment="tablaDestinos" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Pais</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Tiempo Viaje</th>
            <th scope="col">Precio / persona</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="destino : ${destinos}">
            <td th:text="${destino.pais}">Pais</td>
            <td th:text="${destino.ciudad}">Ciudad</td>
            <td th:text="${destino.tiempoViaje} + ' horas'">Tiempo Viaje</td>
            <td th:text="${destino.precioPersona}">Precio / persona</td>
            <td>
                <a th:href="@{'/destinos/editar/' + ${destino.idDestino}}" class="btn btn-primary">Editar</a>
                <a th:href="@{'/destinos/eliminar/' + ${destino.idDestino}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- formulario agregar destino -->
    <section th:fragment="agregarDestino" class="container my-5">
        <h1 class="text-center">Agregar Destino</h1>
        <div class="card p-5 mt-3 w-75 shadow mx-auto">
            <form th:action="@{/destino/agregarDestino}" th:object="${destino}" method="post"enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="pais">Pais</label>
                    <input type="text" class="form-control" id="pais" name="pais" required="true" />
                </div>
                <div class="form-group mb-3">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" class="form-control" id="ciudad" name="ciudad" required="true" />
                </div>
                <div class="form-group mb-3">
                    <label for="tiempoViaje">Tiempo de vuelo</label>
                    <input type="text" class="form-control" id="tiempoViaje" name="tiempoViaje" required="true" />
                </div>
                <div class="form-group mb-3">
                    <label for="precioPersona">Precio / persona</label>
                    <input type="text" class="form-control" id="precioPersona" name="precioPersona" required="true" />
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mt-2 flex-grow-1 me-2">Agregar</button>
                    <a th:href="@{/destino/listado}" class="btn btn-danger mt-2 flex-grow-1">Cancelar</a>
                </div>
            </form>
        </div>
    </section>

</body>
</html>