<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/layout.html :: head}"/>
<body>
    <header th:replace="~{layout/layout :: header}" />
    <section th:replace="~{layout/layout :: navigation}" />
    <section style="height: 100vh">
        <div class="container text-center mt-5">
            <div class="row mb-3 text-start" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col">
                    <a th:href="@{/destino/agregar}" class="btn btn-outline-primary">Agregar Destino</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <h2>Nuestros destinos disponibles</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table th:replace="~{destino/fragmentosDestinos :: tablaDestinos}" />
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{sharedFragments/sharedFragments :: cleanFooter}" />
</body>
</html>