.bg-navbar {
    background-color: #007FE9 !important;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: #072d49;
    text-decoration: underline;
}

.navigation-link {
    color: white;
    text-decoration: none;
}

.navigation-link:hover {
    color: #560202;
    text-decoration: underline;
}

#inicio {
    background-image: url('https://imagenes.eltiempo.com/files/image_1200_600/uploads/2019/04/30/5cc8c8e77417e.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-card {
    width: 100%;
    height: 400px;
}

.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sinFondo {
    background-color: transparent;
    border: none;
}

.sinFondo:hover {
    background-color: #045094;
    border: none;
}

.dropdown-toggle:active {
    /*background-color: #3e99ea;*/
    background: red;
    border: none;
}

.dropstart .dropdown-toggle::before{
    color: white;
    margin-bottom: 4px;
}

.btn-filtros:hover {
    background-color: #dadada;
}